@model Lotery.Models.NumberViewModel
@using Lotery.Models


<form asp-action="AddEditNumber" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = String.Format("{0} Numero", @Model.Id == 0 ? "Agregar" : "Editar") })

    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="FirstPrize" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="FirstPrize" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondPrize" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="SecondPrize" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ThirdPrize" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="ThirdPrize" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LotteryDate" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="LotteryDate" id="LotteryDate" class="form-control" />
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>


