
@model IEnumerable<Lotery.Models.NumberViewModel>
<h1>Busqueda de numeros ganadores</h1>

<form action="@Url.Action("ReportsList", "Numbers")" method="post" id="tempForm">

    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-md-8"><label>Fecha Inicio:</label>
                @Html.TextBox("start", null, new { @class = "form-control datepicker" })
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-8"><label>Fecha Fin:</label>
                @Html.TextBox("end", null, new { @class = "form-control datepicker" })
            </div>
        </div>
        <div class="form-group-sm">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar!" class="btn btn-success" /> <span> </span>
            </div>
        </div>
    </div>
 </form>



 
 
